@font-face {
  font-family: "iconfont"; /* project id 1023352 */
  src: url("//at.alicdn.com/t/font_1023352_lxociudayo.eot");
  src: url("//at.alicdn.com/t/font_1023352_lxociudayo.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1023352_lxociudayo.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1023352_lxociudayo.woff") format("woff"),
    url("//at.alicdn.com/t/font_1023352_lxociudayo.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1023352_lxociudayo.svg#iconfont") format("svg");
}

.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e600";
}

.icon-iconfontbell1:before {
  content: "\e604";
}

.icon-star:before {
  content: "\e61a";
}

.icon-iconfonticonfontxinxi:before {
  content: "\e618";
}

.icon-aixin1:before {
  content: "\e640";
}

.icon-weixinzhifu2:before {
  content: "\e62c";
}

.icon-adduser:before {
  content: "\e8e4";
}

.icon-more:before {
  content: "\e637";
}

.icon-arrow-right:before {
  content: "\e603";
}

.icon-zhuanfa:before {
  content: "\e65f";
}

.icon-caidan:before {
  content: "\e608";
}

.icon-jia1:before {
  content: "\e632";
}

.icon-sousuo:before {
  content: "\e6a3";
}

.icon-saoyisao1:before {
  content: "\e650";
}

.icon-jianpan2:before {
  content: "\e60a";
}

.icon-back:before {
  content: "\e605";
}

.icon-tongxunlu:before {
  content: "\e606";
}

.icon-smile:before {
  content: "\e673";
}

.icon-aixin:before {
  content: "\e61f";
}

.icon-wujiaoxingkong:before {
  content: "\e646";
}

.icon-yuyin:before {
  content: "\e619";
}

.icon-tianjiaduoyonghu:before {
  content: "\e641";
}

.icon-jianpan:before {
  content: "\e644";
}

.icon-pinglun:before {
  content: "\e60b";
}

.icon-erweima1:before {
  content: "\e609";
}

.icon-renwu-zengjia:before {
  content: "\e74a";
}

.icon-gengduo:before {
  content: "\e613";
}

.icon-jianpan1:before {
  content: "\e629";
}

.icon-ren1:before {
  content: "\e607";
}

.icon-lingsheng-jingyin:before {
  content: "\e74d";
}

.icon-weixin:before {
  content: "\e62f";
}

.icon-liaotian:before {
  content: "\e60d";
}

.icon-xiangji:before {
  content: "\e60c";
}

.icon-faxianxuanzhong:before {
  content: "\e62b";
}

.icon-xiaoxi:before {
  content: "\e612";
}

.icon-voice-get:before {
  content: "\e6d0";
}

.icon-voice-send:before {
  content: "\e626";
}
